<head>
    <title>Indexador de perfis</title>
</head>

<body>
    <h1>Indexador de Perfis</h1>

    <%= button_to "Adicionar novo perfil", new_profile_path, method: :get %>

    <h4>Buscar por nome: </h4>
    <%= form_tag(profiles_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag("Buscar") %>
    <% end %>

    <% Array(@profiles).each do |profile|%>
        <p><%= link_to profile.name, profile_path(profile) %></p>
    <% end %>
</body>
