<h4>Novo perfil</h4>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
<% end %>

<%= form_for(@profile) do |f| %>
    <%= f.label "nome"%>
    <%= f.text_field :name%>

    <%= f.label "Url do perfil do github"%>
    <%= f.text_field :git_url%>

    <%= f.submit 'Adicionar perfil', :class => 'btn right' %>
<% end %>

<%= link_to  "Retornar ao início", profiles_path, :class => 'btn red' %>
