<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
<% end %>

<div class="profile-container">

    <div class="card profile-card">
        <div class="card-image">
            <%= image_tag "profile-background-pattern.jpg" %>
            <span class="card-title profile-card-name"><%= @profile.name%></span>
            <%= image_tag @profile.profile_pic_url, :class => "profile-picture" %>
            <%= link_to raw("<i class=\"fa fa-edit\"></i>"), edit_profile_path, method: :get, :class => "btn-floating halfway-fab waves-effect waves-light red" %>
        </div>

        <div class="card-content">
            <div class="center-align">
                <%= link_to @profile.git_url, @profile.git_url %>
            </div>

            <div class="card-content-row">
                <div class="i-container">
                    <i class="fab fa-github brand-logo center"></i>
                </div>
                <p><%= @profile.git_username %></p>
            </div>

            <% if not @profile[:localization].nil? %>
                <div class="card-content-row">
                <div class="i-container">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                    <p><%= @profile.localization %></p>
                </div>
            <% end %>

            <div class="card-content-row">
                <div class="i-container">
                    <i class="fas fa-star"></i>
                </div>
                <p><%= @profile.stars_given %></p>
            </div>

            <div class="card-content-row">
                <p>Contribuições no último ano:</p>
                <p><%= @profile.last_years_contributions %></p>
            </div>

            <div class="card-content-row">
                <p>Número de seguidores:</p>
                <p><%= @profile.followers %></p>
            </div>

            <div class="card-content-row">
                <p>Seguindo:</p>
                <p><%= @profile.following %></p>
            </div>

            <% if not @profile[:organizations].nil? %>
                <div class="card-content-orgs">

                    <% @profile.organizations.split(', ').each do |organization| %>
                        <div class="chip">
                            <%= organization %>
                        </div>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>

</div>

<div class="profiles-action-container">
    <%= link_to raw("<i class=\"far fa-trash-alt\">APAGAR</i>"), profile_path, method: :delete, :class => "btn waves-effect waves-light red" %>
    <%= link_to "Atualizar informações do github", refresh_path(@profile) , method: :get, :class => "btn" %>
</div>