<!DOCTYPE html>
<html>
  <head>
    <title>Indexador de perfis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <i class="fab fa-github brand-logo center main-logo"></i>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= link_to  "ADICIONAR NOVO PERFIL", new_profile_path %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/ce1ffb7974.js" crossorigin="anonymous"></script>
  </body>

</html>
